*.pyc
.metadata
.project
.pydevproject
calibration
result
stereo_calibration
video2
old-sliding-windows/data
old-sliding-windows/result
old-sliding-windows/_pycache_
old-sliding-windows/video2
data_cifar10
data_mnist
real-test
tmp
command2.txt
